backend/configs/__pycache__
backend/configs/.env
backend/contacts/__pycache__
backend/contacts/domain/__pycache__
backend/contacts/domain/models/__pycache__
backend/contacts/domain/entities/__pycache__
backend/contacts/domain/tests/__pycache__
backend/contacts/infra/__pycache__
backend/contacts/infra/tests/__pycache__
backend/contacts/presenters/__pycache__
backend/contacts/presenters/iterators/__pycache__
backend/contacts/presenters/tests/__pycache__
backend/contacts/domain/__pycache__/__init__.cpython-38.pyc
backend/contacts/domain/entities/__pycache__
backend/contacts/domain/models/__pycache__/__init__.cpython-38.pyc
backend/contacts/domain/models/__pycache__/contact.cpython-38.pyc
backend/contacts/domain/models/__pycache__/list_contacts.cpython-38.pyc
backend/contacts/domain/tests/__pycache__/__init__.cpython-38.pyc
backend/contacts/domain/tests/__pycache__/tests_entities.cpython-38.pyc
backend/contacts/domain/tests/__pycache__/tests_models.cpython-38.pyc
backend/contacts/domain/tests/__pycache__/tests_use_cases.cpython-38.pyc
backend/contacts/domain/use_cases/__pycache__/__init__.cpython-38.pyc
backend/contacts/domain/use_cases/__pycache__/create_contact.cpython-38.pyc
backend/contacts/domain/use_cases/__pycache__/delete_contact.cpython-38.pyc
backend/contacts/domain/use_cases/__pycache__/list_contacts.cpython-38.pyc
backend/contacts/domain/use_cases/__pycache__/show_contact.cpython-38.pyc
backend/contacts/domain/use_cases/__pycache__/update_contact.cpython-38.pyc
backend/contacts/infra/__pycache__/__init__.cpython-38.pyc
backend/contacts/infra/__pycache__/apps.cpython-38.pyc
backend/contacts/infra/__pycache__/interfaces.cpython-38.pyc
backend/contacts/infra/__pycache__/repositories.cpython-38.pyc
backend/contacts/infra/__pycache__/serializers.cpython-38.pyc
backend/contacts/infra/tests/__pycache__/__init__.cpython-38.pyc
backend/contacts/infra/tests/__pycache__/tests_repository.cpython-38.py
backend/contacts/infra/tests/__pycache__/tests_serializers.cpython-38.pyc
backend/contacts/migrations/__pycache__/0001_initial.cpython-38.pyc
backend/contacts/migrations/__pycache__/__init__.cpython-38.pyc
backend/contacts/presenters/__pycache__/__init__.cpython-38.pyc
backend/contacts/presenters/__pycache__/factory.cpython-38.pyc
backend/contacts/presenters/__pycache__/helpers.cpython-38.pyc
backend/contacts/presenters/__pycache__/validators.cpython-38.pyc
backend/contacts/presenters/iterators/__pycache__/__init__.cpython-38.pyc
backend/contacts/presenters/iterators/__pycache__/create_contact.cpython-38.pyc
backend/contacts/presenters/iterators/__pycache__/delete_contact.cpython-38.pyc
backend/contacts/presenters/iterators/__pycache__/list_contacts.cpython-38.pyc
backend/contacts/presenters/iterators/__pycache__/show_contact.cpython-38.pyc
backend/contacts/presenters/iterators/__pycache__/update_contact.cpython-38.pyc
backend/contacts/presenters/tests/__pycache__/__init__.cpython-38.pyc
backend/contacts/presenters/tests/__pycache__/tests_factory.cpython-38.pyc
backend/contacts/presenters/tests/__pycache__/tests_helpers.cpython-38.pyc
backend/contacts/presenters/tests/__pycache__/tests_iterators.cpython-38.pyc
backend/contacts/presenters/tests/__pycache__/tests_validators.cpython-38.pyc
backend/contacts/presenters/tests/__pycache__/tests_views.cpython-38.pyc
backend/contacts/presenters/views/__pycache__/__init__.cpython-38.pyc
backend/contacts/presenters/views/__pycache__/auth.cpython-38.pyc
backend/contacts/presenters/views/__pycache__/contacts.cpython-38.pyc
backend/38
backend/venv
backend/.idea
node_modules
